.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #ebd8b7;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;

  font-size: 5rem;
  color: #91091e;
}

h3 {
  font-size: 2rem;
  color: #91091e;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Source Code Pro', monospace;

}

.buto{
  padding: 10px;
}
